

.heading_facilities{
  color: #53B1C7;
   font-family: 'Audiowide', sans-seri;
   padding-bottom: 5%;
   padding-top: 20%;
   text-align: center;

}


#customers {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #007B5E;
    color: white;
  }

  
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #007B5E;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .table-list{
      list-style: none;
  }


  #hostels {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #016303;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    
  }

  
  
  #hostels td, #hostels th {
    padding: 8px;
    background-color: #2b6673;
  }
  
  #hostels tr:nth-child(even){background-color: #f2f2f2;}
  
  #hostels tr:hover {background-color: #ddd;}
  
  #hostels th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2b6673;
    color: white;
  }

  .table-list{
      list-style: none;
  }
 
