#footer{
  background-color:#4F4846;
  margin-top: 5%;
  font-family: 'Yusei Magic', sans-serif;
}

#link{
  text-decoration: none; 
  color: white;
}

#link a{
  text-decoration: none;
  color: white;
}

.list-unstyled{
  background-color:#4F4846;
  padding-top: 4%;
}

.anchor{
  color: white;
}

#facebook{
  color: #4F57D0;
}

#instagram{
  color:#B54D3F;
}
#twitter{
  color: #50ABF1;
}
#heading_footer{
  color: #53B1C7;
}
#icon_list{
  margin-top: 5%;
}