#british {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-left: 2px solid #B9DEEC;
  padding-top: 5%;
}

#british td, #british th {
 
  padding: 8px;
  color: #978888;
  text-align: center;
  border:2px solid #B9DEEC ;
 
}


#british th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:white;
  color: black;
  font-size: 20px;
  color: #007B5E;
}

#day_time{
  color: #FFFFFF; text-align: center;
  font-family: 'Montserrat', sans-serif;

}




#britishhostels {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 125%;
  height: 25%;
  background-color: #007B5E;
}



#britishhostels td, #britishhostels th {
  padding: 8px;
  background-color: #007B5E;
}

#britishhostels tr:nth-child(even){background-color: #f2f2f2;}

#britishhostels tr:hover {background-color: #ddd;}

#britishhostels th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #AEDAE5;
  color: white;
}

.table-list{
    list-style: none;
}



#opening {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 25%;
  background-color:#007B5E;
 
}

#heading_opening{
  padding-bottom: 5%;
  text-align: center ;
  color: #53B1C7;
  padding-top: 5%;
  font-family: Audiowide, sans-serif;
 
  
}



#opening td, #opening th {
  padding: 8px;
  background-color:#2b6673;
  border:2px solid #B9DEEC ;
}

#opening tr:nth-child(even){background-color: #f2f2f2;}

#opening tr:hover {background-color: #ddd;}

#opening th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2b6673;
  color: white;
}

.heading{
  font-family: Audiowide, sans-serif;
  color: #2b6673;
    margin-top: 7%;
    text-align: center;

}

.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}


body{
  font-family: 'Montserrat', sans-serif;
}

