
#joinus_div{
    margin-top: 10%;
}

#joinus_text{
    margin-top: 7%;
      font-family:  'Audiowide', sans-serif;
}

#joinus_heading{
    color:  #53B1C7; 
    font-size: 50px;
}
.form-border{
 
    border: 1px solid #01C3AD;
    padding: 10%;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
  
}

.form-border:hover{
    transform: scale(1.05);
}
body{
    font-family: 'Montserrat', sans-serif;
  }