
#services_div{
  margin-top: 5%;
}
 
#services_image{
  border-style: none;
}

.card{
    border: none;
    width: 18rem;
     margin-top: 10%
}

.card-title{
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: bold;
}

#services_card:hover{
    transform: scale(1.10);
   
  
  } 
  .card-text{
    height:80px;  
    font-family: 'Montserrat', sans-serif;
    
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  
  .heading{
    font-family: Audiowide, sans-serif;
    color: #53B1C7;
      margin-top: 7%;
      text-align: center;

  } 

  
 .heading-item{
  font-size: 40px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#services_button{
  background-color:#266150;
  margin-left: 20%;
} 

 



 


