.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4F4846;
    font-family:  'Montserrat', sans-serif;
    

}

.topnav_icon {
    float: right; 
    padding-right: 5%;
}

.top li a{
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;

    text-decoration: none;
    text-decoration: none;

}

.top li{
    float: left;
}

.contact{
    padding-left: 5%;
    
}

